.footer{
    width: 100%;
    height: 50px;
    background-color:rgb(241, 144, 241);
    color: #000;
}
.h33{
    width: 100%;
    height: 50px;
    align-items: center;
}
#form{
    width: 200px;
    /* height: 50px; */
    
    align-items: center;
    

}